*{
    margin:0; padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
}
.container
{
    padding: 100px;
}


     .wrapper-head
     {
        width: 1400px;
         position: absolute;
         display: flex;
         align-items:center;
         background-color: #FFFFFF;

         
         img{
            padding-left: 60px;
             justify-content: space-between;
         }
         .col-7
         {
            margin-left: 10px;
            display: flex;
            align-items: center;
            margin-right: 20px;
        
         ul li {
            direction: rtl;
             position:relative;
             float: right;
             font-family: 'TheMixArabic';
             font-style: normal;
             font-weight: 500;
             font-size: 18px;
             line-height: 180%;
             
             a{
                 color:#510B76;
             }

         }
         }
         .col-2.cr
         {
            img {
                margin-top: 20px;
                padding-left: 20px;
            }
            display: flex;
            
             img.rounded-circle.c1{
                padding: 0px 15px;
                width: 60px;
                height: 30px;
             }
             img.rounded-circle.c2{
                padding: 0px 15px;
                width: 60px;
                height: 30px;
             }
         }

         .col-2.rp {
            display: flex;
             button {
                margin-left: 10px;
                margin-top: 10px;
                display: flex;
                position: absolute;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 8px 24px;
                width: 170px;
                height: 45px;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Cairo';
             }
                       
             button.rounded-pill.log-in
             {
                margin-right: 210px;
                color: #510B76;
                background: #FFFFFF;
             }
             button.rounded-pill.sign-up
             {
                margin-right: 10px;
                background: #510B76;
                color: #FFFFFF;
                 box-shadow: 0px 4px 20px #FFB802;
             }
            }
        }
        
        .section1
        {
            margin-top: 100px;
            max-height: fit-content;
            display: flex;
            align-items: center;
            background-color: #510B76;
            width: 1318px;
            height: 632.14px;
            left: 606px;
            top: 185px;

        img.vase
        {
            
            width: 667px;
            height: 654px;
            margin-top: 150px;
            margin-right: 248px;
        }
        span p{
            margin-right: 100px;
            margin-top: 200px;
            color: #FFFFFF;width: 327px;
            height: 32px;
            
            font-family: 'Cairo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
        }
        h2.card-text
        { 
            margin-right: 100px;
            margin-top: 50px;
            color: #FFFFFF;
            width: 651px;
            height: 134px;
            font-family: 'Cairo';
            font-style: normal;
            font-weight: 400;
            font-size: 56px;
            line-height: 120%;
        }
        span.description
        {
            margin-right: 100px;
             margin-top: 200px;
             color: #FFFFFF;
             font-family: 'Cairo';
             font-style: normal;
             font-weight: 400;
             font-size: 20px;
             line-height: 180%;
             /* or 36px */
             
             text-align: right;
        }
        
    }

    .section2
    {
        display: flex;
        align-items: center;
        justify-content: center;

        img 
        {   width: 431px;
            height: 559px;
            border-radius: 16px;
        }

        h3{
        width: 491px;
        height: 156px;
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 130%;
        text-align: right;
       text-transform: capitalize;
        }
         span{
            width: 478px;
            height: 258px;
            left: 122px;
            top: 366px;
            font-family: 'Cairo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            text-align: right;
            color: #41404D;

        }
    
    }

.section3
{
    display: flex;
    justify-content: center;
    align-items: center;

    .card-header
    {   
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        /* identical to box height, or 34px */
        
        text-align: center;
        background-color: #510B76;

    }
    .card-body
    {
        width: 300px;
        height: 100px;
        justify-content: end;
        align-items: center;
        
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        
        text-align: center;
        letter-spacing: -1px;
    }
}

     